﻿@model WebAppTest.Models.Product

@{
    ViewBag.Title = "Index";
}

<h2>Reviews for @Model.Name</h2>

@Html.Partial("_Reviews", Model.Reviews)

<p>
    @Html.ActionLink("Create New", "Create",new { ProductId = Model.Id})
</p>
