﻿@model IPagedList<WebAppTest.Models.Product>

<div id="productList">

    <div class="pagedList" data-me-target="#productList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.MinimalWithItemCountText)
    </div>

    @foreach (var item in Model)
    {
        <div>
            <h4>@item.Name</h4>
            <div><b>Opis:</b> @item.Description <b>Cena:</b> @item.Price</div>
            <hr />
        </div>
    }
</div>