@model IPagedList<WebAppTest.Models.Product>

@{
    ViewBag.Title = "Home Page";
}
<form method="get" action="@Url.Action("Index")" data-me-ajax="true" data-me-target="#productList">
        <input type="search" name="searchTerm" data-me-autocomplete="@Url.Action("Autocomplete")"/>
        <input type="submit" value="Szukaj po nazwie"/>
    </form>

@Html.Partial("_Products",Model)
